<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Markdoc</title>
    <base target="_blank" />
    <link href="/m.png" rel="icon" />
    <link href="https://rawcss.com/rawww.css" rel="stylesheet" />
    <script src="https://unpkg.com/marked@0.6.1/lib/marked.js"></script>
    <script src="https://unpkg.com/vue@2.6.8/dist/vue.min.js"></script>
    <link href="https://unpkg.com/prismjs@1.16.0/themes/prism-okaidia.css" rel="stylesheet" />
    <script src="https://unpkg.com/prismjs@1.16.0/prism.js"></script>
    <script src="https://unpkg.com/prismjs@1.16.0/components/prism-markdown.js"></script>
    <script src="https://unpkg.com/prismjs@1.16.0/components/prism-js-extras.js"></script>
    <style>
      .token.keyword { color: #c678dd; }
      .token.property-access { color: #e06c75; }
      .token.method, .token.function { color: #66d9ef; }
      [id] { cursor: pointer; }
      [id]:hover { background: linear-gradient(to right,#03f,#0bf);-webkit-background-clip: text;-webkit-text-fill-color: transparent; }
      main > button { position: fixed;bottom: 40px;right: 40px;z-index: 1;border-radius: 50%;width: 60px;height: 60px;background: var(--primary);color: white;padding: 0;line-height: 0;font-size: 24px;border: none;box-shadow: var(--box-shadow); }
      main > button.save { background: rgb(32, 184, 111); }
      main > button.discard { bottom: 100px;margin: 15px;width: 30px;height: 30px;background: rgb(230, 236, 241);color: var(--text);font-size: 18px; }
    </style>
  </head>
  <body>
    <style></style>
    <main>
      <markdown :class="{ edit }" :value="file"></markdown>
      <button @click="editable()" v-if="!edit"><svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" class="icon-7f6730be--text-3f89f380"><g><polygon points="14 2 18 6 7 17 3 17 3 13 14 2"></polygon><line x1="3" y1="22" x2="21" y2="22"></line></g></svg></button>
      <button class="save" @click="editable(true)" v-if="edit"><svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" class="icon-7f6730be--text-3f89f380"><g><polyline points="20 6 9 17 4 12"></polyline></g></svg></button>
      <button class="discard" @click="editable(false)" v-if="edit"><svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" class="icon-7f6730be--text-3f89f380"><g><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></g></svg></button>
    </main>
    <script>
      $ = s => document.querySelector(s)
      $$ = s => Array.from(document.querySelectorAll(s))
      if (location.hash) setTimeout(() => scroll({ left: 0, top: $(location.hash).offsetTop }), 100)
      addEventListener('click', e => {
        if (e.target.isContentEditable) return e.preventDefault()
        if (e.target.id) return (location.hash = '#' + e.target.id)
        if (/^#/.test(e.target.getAttribute('href'))) {
          location.hash = e.target.getAttribute('href')
          return e.preventDefault()
        }
      })
      addEventListener('scroll', e => {
        const closer_el = $$('[id]')
          .filter(el => scrollY >= el.offsetTop - 20)
          .slice(-1)[0] || { id: '' }
        history.pushState({}, null, '#' + closer_el.id)
      })
      exec = file => {
        const vm = $('main').__vue__
        if (/---\n*$/.test(file)) {
          try {
            file
              .split('---')
              .slice(-2)[0]
              .split('```')
              .filter(d => d.trim())
              .map(code => {
                if (/^css/.test(code)) $('body style').innerHTML = code.replace(/^css/, '')
                if (/^(js|javascript)/.test(code)) eval(code.replace(/^(js|javascript)/, ''))
              })
            file = file
              .split('---')
              .slice(0, -2)
              .join('---')
          } catch (e) {
            file = file + '```error\n' + e.stack + '\n```'
            console.error(e)
          }
        }
        vm.file = file
      }
      developer = () => {
        $('main').__vue__.file = '<pre style="position: fixed;top: 0;left: 0;width: 100vw;height: 100vh;margin: 0;padding: 40px;border-radius: 0;"><code class="language-markdown">' + $('main').__vue__.file + '</code></pre>'
        setTimeout(Prism.highlightAll, 0)
      }
      editable = save => {
        const vm = $('main').__vue__
        vm.edit = save === null || save === undefined
        if (save === true || save === false) $$('main > div > *').map(el => el.removeAttribute('contentEditable'))
        if (save === true) return exec(localStorage.file)
        if (save === false) {
          delete localStorage.file
          return location.reload()
        } // HACK
        if (save === false) return exec(vm.file)
        $$('main > div > *').map(el => {
          const eol = el.tagName === 'P' ? '  \n' : '\n'
          const initial = el.innerText.replace(/\n/g, eol)
          if (!vm.file.includes(initial) || !el.innerText.trim()) return
          el.setAttribute('contentEditable', '')
          el.oninput = e => {
            console.log(e.inputType)
            localStorage.file = vm.file.replace(initial, e.target.innerText.replace(/\n/g, eol))
          }
          el.onkeydown = e => {
            console.log(e.key, e.shiftKey, e.ctrlKey, e.altKey, e.metaKey)
            if (e.key === 'Enter' && /^h\d$/i.test(el.tagName)) return e.preventDefault()
            if (e.key === 'Backspace' && !el.innerText.trim()) return el.remove()
          }
        })
      }
      marked.setOptions({ highlight: (code, lang) => Prism.highlight(code, Prism.languages[lang] || Prism.languages.html, lang) })
      Vue.component('markdown', {
        props: ['value'],
        render(h) {
          return this.value && h({ template: '<div>' + marked(this.value) + '</div>' })
        },
      })
      new Vue({
        el: 'main',
        data: {
          edit: false,
          file: null,
        },
        mounted() {
          if (localStorage.file) return exec(localStorage.file)
          fetch(((location.pathname.length === 1 && location.search.slice(1)) || location.pathname).replace(/^\/$/, 'README.md'))
            .then(r => r.ok && r.text())
            .then(md => exec(md || `# Nothing yet !\nStart editing by clicking the bottom-right button`))
        },
      })
    </script>
  </body>
</html>
